/***************************************
Reset
***************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/***************************************
Variables
***************************************/
:root {
    /* Color Palette */
    --moderate-violet: hsl(263, 55%, 52%);
    --violet-border: hsl(264, 82%, 70%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

/***************************************
Global Styles
***************************************/
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: .8125rem;
    font-weight: 500;
    line-height: 1.5;
    background-color: #F2F2F2;
}

.container {
    max-width: 550px;
    padding: 1rem;
    margin: 0 auto;
}

.light {
    color: var(--white);
}

.dark {
    color: var(--very-dark-grayish-blue);
}

.card {
    background-color: #ccc;
    padding: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

.card header {
    margin-bottom: 1.125rem;
}

.lead-paragraph {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.card header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-img img {
    display: block;
    width: 40px;
    border-radius: 50%;
}

#daniel,
#patrick {
    border: 2px solid var(--violet-border);
}

/***************************************
Styles
***************************************/
.card-1 {
    background-color: var(--moderate-violet);
    background-image: url('assets/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 80% top;
    background-size: 150px;
}

.card-2 {
    background-color: var(--very-dark-grayish-blue);
}

.card-3 {
    background-color: var(--white);
}

.card-4 {
    background-color: var(--very-dark-blackish-blue);
}

.card-5 {
    background-color: var(--white);
}

.card-1 .verified-grad,
.card-2 .verified-grad,
.card-3 .verified-grad,
.card-4 .verified-grad,
.card-5 .verified-grad {
    opacity: .5;
}

.card-1 .testimonial-body,
.card-2 .testimonial-body,
.card-3 .testimonial-body,
.card-4 .testimonial-body,
.card-5 .testimonial-body {
    opacity: .7;
}

/***************************************
Media Query (Desktop)
***************************************/
@media screen and (min-width: 1000px) {
    .grid-layout {
        display: flex;
        align-items: center;
        height: 100vh;
    }

    .container {
        max-width: 1142px;
        padding: 1rem;
    }

    .card {
        margin: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.875rem;
    }

    .card-1 {
        grid-column: 1 / 3;
    }

    .card-4 {
        grid-column: 2 / 4;
    }

    .card-5 {
        grid-column: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}